/* #ID */

#main {
  font-family: 'Orbitron', sans-serif;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  border: 5px solid black;
  border-radius: 35px;
  color: white;
}
#expression {
  color: orange;
}

/* .CLASS */
.dropdown {
  display: inline-block;
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
  border: 2px solid white;
  border-radius: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
}
.main {
  color: white;
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
}
.text-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.buttonM {
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
}

.buttonM:hover {
  background-position: right center; 
  color: white;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}
.button {
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
}
.button:hover {
  transform: scale(1.05);
  background-position: right center;
  color: white;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}

.output {
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}
.gridCol {
  font-size: 1.5em;
}
.arrowScroll {
  transition: all 0.8s ease-out;
  height: '100px';
  width: '100px';
  cursor: 'pointer';
  padding: '5px';
  position: 'fixed';
  right: '100px';
  bottom: '100px';
  fill: ;
}

/* @MEDIA */
@media only screen and (max-width: 1680px) {
  .gridCol {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 1600px) {
  .gridCol {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 1500px) {
  .gridCol {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 924px) {
  .gridCol {
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 850px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
  .arrowScroll {
    height: '50px';
    width: '50px';
    cursor: 'pointer';
    padding: '5px';
    position: 'fixed';
    right: '50px';
    bottom: '50px';
  }
}
